{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/sort.js') }}"></script>
<div class="container" style="margin-top: 150px;">
  {% if g.user %}
    {% if tweets %}
            <div class="row" style="margin-top: 25px;">

                <div class="col-md-2">
                </div>

                <div class="col-md-8">
                    <a href="#"><button onclick="tweet_sort('.inverse')" type="button" class="pull-left btn btn-sm btn-info">Sort with inverse frequency</button></a>
                    <a href="#"><button onclick="tweet_sort('.star')" type="button" style="margin-left: 20px;" class="pull-left btn btn-sm btn-info">Sort with star probability</button></a>
                </div>

                <div class="col-md-2">
                </div>

            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-md-2">
                </div>

                <div class="col-md-8" id ="tweet-container">
                    {% for tweet in tweets %}
                    <div class="media">
                        <a class="pull-left" href="http://twitter.com/{{ tweet.user.screen_name }}">
                            <img class="media-object" src="{{ tweet.user.profile_image_url }}" alt="DP">
                        </a>
                        <div class="media-body">
                            <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}"><h4 class="media-heading">{{ tweet.user.screen_name }}</h4></a>
                            {{ tweet.text|urlize }}
                            <br />
                            <br />
                            <div>
                                {% if tweet.score %}
                                  (<span class="inverse">{{ tweet.score }}</span> , <span class="star">{{ tweet.score2 }} </span>)
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}